body {
    height:100%;
}

form{
    margin-top: 50px;
    margin-left: 300px;
    margin-right: 300px
}

btn.btn.primary.btn-lg{
    margin-left: 300px;
    margin-bottom: -50px;
}

button.btn.btn-primary{
    margin-left: 300px;
}
.jumbotron{
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
}

img {
    height: 100px;
    width: 100px;
}

h3{
    text-align: left;
}